In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('internshala_final_2.csv')

In [3]:
important_words = ["python", "iot", "website", "blockchain", "backend", "back-end", "frontend", "front-end", "javascript", "product", "snowflake", "mlops", "elt", "reserach", "manager", "plm", "seo", "java", "c++", "c#", "c-sharp", "ruby", "c", "swift", "kotlin", "php", "go", "golang", "rust", "typescript", "sql", "shell", "bash", "objective-c", "scala", "perl", "matlab", "groovy", "haskell", "django", "express.js", "react.js", "react", "angular.js", "angular", "vue.js", "spring", "flask", "node.js", "fastapi", "flutter", "dart", "xamarin", "tensorflow", "pytorch", "unity", "mean", "mern", "laravel", "apache", "junit", "pytest", "selenium", "rest", "mysql", "mongodb", "postgresql", "postgres", "oracledb", "oracle", "server", "cassandra", "hadoop", "kafka", "redis", "mvc", "cloud", "neo4j", "cockroachdb", "influxdb", "elastic", "firebase", "postgis", "dynamodb", "hibernate", "algorithm", "algorithms", "dsa", "oop", "dbms", "os", "cyber", "security", "agile", "sdlc", "html", "css", "neural", "intelligence", "etl", "engineer", "tcp", "ip", "routing", "switching", "aws", "cloud", "azure", "linux", "unix", "mac", "ubuntu", "kali", "windows", "git", "svn", "github", "gitlab", "bitbucket", "jira", "confluence", "deployment", "automation", "ui", "ux", "ui/ux", "android", "ios", "app", "web", "scrum", "kanban", "analytical", "critical", "debugging", "testing", "qa", "development"]

In [4]:
print(len(important_words))

138

In [5]:
def count_target_words(text):
    words = str(text).lower().split()
    return sum(word in important_words for word in words)

In [6]:
df.columns

Index(['job_title', 'company_name', 'location', 'salary', 'description',
       'company_description', 'hired_to_posted_ratio', 'has_company_logo',
       'job_description_length', 'Important_Word_Count', 'important_words',
       'currency_in_title', 'authentic', 'htp_ratio', 'result'],
      dtype='object')

In [7]:
df['Important_Word_Count'] = df['description'].apply(count_target_words)

In [8]:
df.head(10)

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length,Important_Word_Count,important_words,currency_in_title,authentic,htp_ratio,result
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,0.365782,1,1,5,1,1,1,1,1.0
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,0.333333,1,1,0,0,1,0,1,1.0
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,0.392405,1,1,10,1,1,1,1,1.0
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,1,1,6,1,1,0,0,1.0
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,0.333333,1,1,2,1,1,1,1,1.0
5,Front End Development,Camp Yellow,Work From Home,"₹ 35,000 /month + Incentives",Selected intern's day-to-day responsibilities ...,1,0.486486,1,1,1,0,1,0,1,1.0
6,Web Development,ALMI Blogging School Pro (Almi Production Land...,Chennai,"₹ 3,000 /month",Selected intern's day-to-day responsibilities ...,1,0.030973,1,1,2,1,1,0,0,0.0
7,Web App Development Using React JS And Node JS,MyMegaminds,Work From Home,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,0.190722,1,1,10,1,1,1,1,1.0
8,UX/UI Design (Virtual),YTViews Digital Media Private Limited,Work From Home,"₹ 10,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000365,1,1,2,1,1,0,0,0.0
9,Web Design,YTViews Digital Media Private Limited,Delhi,"₹ 5,000-12,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000365,1,1,10,1,1,0,0,0.0

In [9]:
def mark_important_words(num):
  if(num>0):
    return 1
  else:
    return 0

In [10]:
df['important_words'] = df['Important_Word_Count'].apply(mark_important_words)

In [11]:
df.head()

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length,Important_Word_Count,important_words,currency_in_title,authentic,htp_ratio,result
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,0.365782,1,1,5,1,1,1,1,1.0
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,0.333333,1,1,0,0,1,0,1,1.0
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,0.392405,1,1,10,1,1,1,1,1.0
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,1,1,6,1,1,0,0,1.0
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,0.333333,1,1,2,1,1,1,1,1.0

In [12]:
currency = ["$", "€", "¥", "£", "₹"]

In [13]:
def currency_in_title(text):
  words = str(text).lower().split()
  for word in words:
    for j in range(len(word)):
      if(word[j] in currency):
        return 0
  return 1

In [14]:
df['currency_in_title'] = df['job_title'].apply(currency_in_title)

In [15]:
df.head(10)

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length,Important_Word_Count,important_words,currency_in_title,authentic,htp_ratio,result
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,0.365782,1,1,5,1,1,1,1,1.0
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,0.333333,1,1,0,0,1,0,1,1.0
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,0.392405,1,1,10,1,1,1,1,1.0
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,1,1,6,1,1,0,0,1.0
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,0.333333,1,1,2,1,1,1,1,1.0
5,Front End Development,Camp Yellow,Work From Home,"₹ 35,000 /month + Incentives",Selected intern's day-to-day responsibilities ...,1,0.486486,1,1,1,1,1,0,1,1.0
6,Web Development,ALMI Blogging School Pro (Almi Production Land...,Chennai,"₹ 3,000 /month",Selected intern's day-to-day responsibilities ...,1,0.030973,1,1,2,1,1,0,0,0.0
7,Web App Development Using React JS And Node JS,MyMegaminds,Work From Home,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,0.190722,1,1,10,1,1,1,1,1.0
8,UX/UI Design (Virtual),YTViews Digital Media Private Limited,Work From Home,"₹ 10,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000365,1,1,2,1,1,0,0,0.0
9,Web Design,YTViews Digital Media Private Limited,Delhi,"₹ 5,000-12,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000365,1,1,10,1,1,0,0,0.0

In [16]:
cnt = 0
for index, row in df.iterrows():
  if(row['currency_in_title']==0):
    cnt+=1
print(cnt)

0

In [17]:
df.to_csv('internships.csv')