In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('internships_internshala1.csv')

In [6]:
df.columns

Index(['job_title', 'company_name', 'location', 'salary', 'description',
       'company_description', 'hired_to_posted_ratio', 'has_company_logo',
       'job_description_length'],
      dtype='object')

In [7]:
df.head()

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,2.733871,1,1
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,2.548387,1,1
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,1,1
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1

In [9]:
df['hired_to_posted_ratio']=pd.to_numeric(df['hired_to_posted_ratio'], downcast='float')

In [10]:
df.head()

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,has_company_logo,job_description_length
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,2.733871,1,1
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,2.548387,1,1
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,1,1
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1

In [11]:
m=np.mean(df['hired_to_posted_ratio'])
print(m)

25.226477

In [12]:
hp_ratio=df['hired_to_posted_ratio']

In [13]:
htp_ratio=[]
for i in range(0,len(hp_ratio)) :
    if hp_ratio[i]>=0.25 and hp_ratio[i]<=10 :
        htp_ratio.append(1)
    else:
        htp_ratio.append(0)

In [14]:
print("true : ",htp_ratio.count(1))
print("false :",htp_ratio.count(0))

true :  417
false : 677

In [15]:
df.insert(7,'htp_ratio',htp_ratio)

In [16]:
df.head()

,job_title,company_name,location,salary,description,company_description,hired_to_posted_ratio,htp_ratio,has_company_logo,job_description_length
0,iOS App Development,STEMpedia,Ahmedabad,"₹ 9,000-15,000 /month",Selected intern's day-to-day responsibilities ...,1,2.733871,1,1,1
1,Internet Of Things (IoT),Purewatt Renewables Private Limited,Gunupur,"₹ 10,000 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1,1
2,Product Management,FynTune Solution Private Limited,Thane,"₹ 12,000-18,000 /month",Selected intern's day-to-day responsibilities ...,1,2.548387,1,1,1
3,Web Development,Space Chase Private Limited,Work From Home,"₹ 5,000 /month",Selected intern's day-to-day responsibilities ...,1,0.000000,0,1,1
4,Web Development,Digital Yodha,Work From Home,"₹ 1,500 /month",Selected intern's day-to-day responsibilities ...,1,3.000000,1,1,1